extends layout

block content
    h1.text-center Jugadores
    table.table.table-hover
        tr
            th Id
            th Usuario
            th Nombre
            th Email
            th Perfil
            th Foreign key
        each usuario in usuarios
            tr
                td #{usuario.id}
                td #{usuario.usuario}
                td #{usuario.nombre}
                td #{usuario.email}
                td #{usuario.perfil}
                td #{usuario.EquipoId}
    script.
        console.log("#{usuarios[0].usuario}");